In [2]:
# import dependencies
import json
import requests
import pandas as pd
import matplotlib.pyplot as plt
from api_keys import census_api

In [3]:
# read in csv file
combined_homicide = pd.read_csv("Data/homicide.csv")

combined_homicide.head()

,CASE #,Date of Occurance,Primary Description,Description,Beat,Ward,Year,Latitude,Longitude
0,HT405253,07/19/2011 04:00:00 PM,HOMICIDE,FIRST DEGREE MURDER,732,6.0,2011,41.766565,-87.638386
1,HT578691,11/07/2011 12:05:00 PM,HOMICIDE,FIRST DEGREE MURDER,2123,4.0,2011,41.822200,-87.602135
2,HT576092,11/05/2011 01:50:00 PM,HOMICIDE,FIRST DEGREE MURDER,1122,28.0,2011,41.877169,-87.719061
3,HT581763,11/09/2011 02:00:00 PM,HOMICIDE,FIRST DEGREE MURDER,522,34.0,2011,41.688889,-87.628242
4,HT582731,11/10/2011 02:40:00 AM,HOMICIDE,FIRST DEGREE MURDER,614,18.0,2011,41.741304,-87.659690

In [8]:
# Here we are grabbing poverty data from this census API.
# This query returns an estimate number of households with income below the poverty level in Chicago in 2006.
poverty_2006_query = f"https://api.census.gov/data/2006/acs/acs1?get=B17009_002E&for=place:14000&in=state:17&key={census_api}"

poverty_2006_response = requests.get(poverty_2006_query).json()

poverty_2006 = poverty_2006_response[1][0]

poverty_2006

'161070'

In [9]:
# This query returns an estimate number of households with income below the poverty level in Chicago in 2011.
poverty_2011_query = f"https://api.census.gov/data/2011/acs/acs1?get=B17009_002E&for=place:14000&in=state:17&key={census_api}"

poverty_2011_response = requests.get(poverty_2011_query).json()

poverty_2011 = poverty_2011_response[1][0]

poverty_2011

'179036'

In [10]:
# This query returns an estimate number of households with income below the poverty level in Chicago in 2016.
poverty_2016_query = f"https://api.census.gov/data/2016/acs/acs1?get=B17009_002E&for=place:14000&in=state:17&key={census_api}"

poverty_2016_response = requests.get(poverty_2016_query).json()

poverty_2016 = poverty_2016_response[1][0]

poverty_2016

'172571'