In [184]:
# import dependencies
import json
import requests
import pandas as pd
from api_keys import census_api

In [185]:
# read in csv file for crimes from one year prior to present
pastyear_data = pd.read_csv("Data/crimes_pastyear_topresent.csv", encoding="utf-8")

In [186]:
# drop columns that will not be necessary for analysis
clean_pastyear = pastyear_data.drop(columns=['BLOCK', ' IUCR', ' SECONDARY DESCRIPTION',' LOCATION DESCRIPTION','ARREST',
                                             'DOMESTIC','FBI CD','X COORDINATE','Y COORDINATE','LOCATION'])

In [187]:
## updated names
# rename columns for readability
clean_pastyear = clean_pastyear.rename(columns={'CASE#':'CASE #',
                                                'DATE  OF OCCURRENCE':'Date of Occurance',
                                                ' PRIMARY DESCRIPTION':'Primary Description',
                                                'BEAT':'Beat','WARD':'Ward',
                                                'LATITUDE':'Latitude',
                                                'LONGITUDE':'Longitude'})

In [188]:
# filter the dataframe to display only homicide incidents
homicide_pastyear = clean_pastyear.loc[clean_pastyear['Primary Description'] == 'HOMICIDE']

homicide_pastyear = homicide_pastyear.reset_index()

del homicide_pastyear['index']

# add current year
Year = 2020
homicide_pastyear['Year'] = Year

In [189]:
homicide_pastyear['Ward'].value_counts()

28.0    61
24.0    55
8.0     49
16.0    44
6.0     43
27.0    43
9.0     43
37.0    39
17.0    35
7.0     35
29.0    34
21.0    34
20.0    32
34.0    31
3.0     23
5.0     23
22.0    17
10.0    13
14.0    13
25.0    12
12.0    12
15.0    12
26.0     9
18.0     8
1.0      8
4.0      8
11.0     7
49.0     7
36.0     6
42.0     5
50.0     5
35.0     5
23.0     4
39.0     4
45.0     4
30.0     4
19.0     3
46.0     3
48.0     3
31.0     3
33.0     3
47.0     3
13.0     2
38.0     2
32.0     2
43.0     1
40.0     1
Name: Ward, dtype: int64

In [190]:
# read in csv file for locations of police stations in Chicago
police_stations = pd.read_csv("Data/police_stations.csv")

In [191]:
# drop columns that will not be necessary for analysis
clean_police_stations = police_stations.drop(columns=['WEBSITE','PHONE','FAX','TTY','X COORDINATE','Y COORDINATE','LOCATION'])

In [192]:
clean_police_stations = clean_police_stations.rename(columns={'DISTRICT':'Ward','DISTRICT NAME':'District Name','ADDRESS':'Address','CITY':'City','STATE':'State','LATITUDE':'Latitude','LONGITUDE':'Longitude'})

In [193]:
crime_2001 = pd.read_csv("Data/crime_2001.csv")

In [194]:
clean_2001 = crime_2001.drop(columns=['Block', 'IUCR', 'Description','Location Description','Arrest',
                                             'Domestic','FBI Code','X Coordinate','Y Coordinate','Location'])

In [195]:
clean_2001 = clean_2001.rename(columns={'Ward':'Ward',
                                        'Primary Type':'Primary Description',
                                        'Case Number':'CASE #',
                                        'Date':'Date of Occurance'
                                       })

In [196]:
homicide_2001 = clean_2001.loc[clean_2001['Primary Description'] == 'HOMICIDE']

homicide_2001 = homicide_2001.reset_index()

del homicide_2001['index']

homicide_2001.head()

,CASE #,Date of Occurance,Primary Description,Beat,Ward,Year,Latitude,Longitude
0,G501252,08/22/2001 05:15:00 PM,HOMICIDE,1533,28.0,2001,41.881666,-87.754246
1,G500180,08/22/2001 07:00:00 AM,HOMICIDE,621,17.0,2001,41.756990,-87.644206
2,G501811,08/22/2001 08:30:00 PM,HOMICIDE,1512,29.0,2001,41.882142,-87.772261
3,G503487,08/23/2001 04:55:00 PM,HOMICIDE,1022,24.0,2001,41.854939,-87.706563
4,G506663,08/25/2001 01:06:00 AM,HOMICIDE,1233,NaN,2001,41.857987,-87.654360

In [197]:
crime_2006 = pd.read_csv('Data/crime_2006.csv')

In [198]:
clean_2006 = crime_2006.drop(columns=['Block', 'IUCR', 'Description','Location Description','Arrest',
                                             'Domestic','FBI Code','X Coordinate','Y Coordinate','Location'])

In [199]:
clean_2006 = clean_2006.rename(columns={'Ward':'Ward',
                                        'Case Number':'CASE #',
                                        'Date':'Date of Occurance',
                                        'Primary Type':'Primary Description'
                                       })

In [200]:
homicide_2006 = clean_2006.loc[clean_2006['Primary Description'] == 'HOMICIDE']

homicide_2006 = homicide_2006.reset_index()

del homicide_2006['index']

In [201]:
# add 2016 crime data
crime_2016 = pd.read_csv("Data/Crimes2016.csv", encoding="utf-8") 

## fixed naming
# remove extra columns
clean_2016 = crime_2016.drop(columns=['Block','IUCR','Location Description',
                                      'Arrest','Domestic','FBI Code','X Coordinate','Y Coordinate','Location',
                                      'Community Area','Updated On','District','ID']
                            )

## fixed naming
# rename so data is consistent
clean_2016 = clean_2016.rename(columns={'Case Number':'CASE #',
                                        'Date':'Date of Occurance',
                                        'Primary Type':'Primary Description',
                                        'Ward':'Ward'}
                              )

# filter for homicide
homicide_2016 = clean_2016.loc[clean_2016['Primary Description'] == 'HOMICIDE']

homicide_2016 = homicide_2016.reset_index()

del homicide_2016['index']

In [202]:
# add 2011 crime data
crime_2011 = pd.read_csv("Data/Crimes2011.csv", encoding="utf-8") 

# remove extra columns
clean_2011 = crime_2011.drop(columns=['Block','IUCR','Location Description','Arrest',
                                      'Domestic','FBI Code','X Coordinate','Y Coordinate','Location','ID'])

# rename so data is consistent
clean_2011 = clean_2011.rename(columns=
                                   {'Case Number':'CASE #',
                                    'Date':'Date of Occurance',
                                    'Primary Type':'Primary Description',
                                    'Ward':'Ward'})

# filter for homicide
homicide_2011 = clean_2011.loc[clean_2011['Primary Description'] == 'HOMICIDE']

homicide_2011 = homicide_2011.reset_index()

del homicide_2011['index']

In [203]:
# merge dataframes
frames = [homicide_2011, homicide_2016, homicide_pastyear, homicide_2006, homicide_2001]

homicide_merge = pd.concat(frames)

# check to see all years merged into file
check = homicide_merge["Year"].value_counts()
check

2020    813
2016    788
2001    667
2006    477
2011    438
Name: Year, dtype: int64

In [204]:
# Push the remade DataFrame to a new CSV file
homicide_merge.to_csv("data/homicide.csv", index=False, header=True)

In [18]:
# Here we are grabbing poverty data from this census API.
# This query returns the percentage of families with income below the poverty level in Chicago in 2006.
poverty_2006_query = f"https://api.census.gov/data/2006/acs/acs1/profile?get=DP03_0094E&for=place:14000&in=state:17&key={census_api}"

poverty_2006_response = requests.get(poverty_2006_query).json()

poverty_2006 = poverty_2006_response[1][0]

In [19]:
# This query returns the percentage of families with a female householder (no husband) with income below the poverty level
# in Chicago in 2006.
female_2006_query = f"https://api.census.gov/data/2006/acs/acs1/profile?get=DP03_0100E&for=place:14000&in=state:17&key={census_api}"

female_2006_response = requests.get(female_2006_query).json()

female_poverty_2006 = female_2006_response[1][0]

In [20]:
# This query returns the percentage of families with income below the poverty level in Chicago in 2011.
poverty_2011_query = f"https://api.census.gov/data/2011/acs/acs1/profile?get=DP03_0119PE&for=place:14000&in=state:17&key={census_api}"

poverty_2011_response = requests.get(poverty_2011_query).json()

poverty_2011 = poverty_2011_response[1][0]

In [21]:
# This query returns the percentage of families with a female householder (no husband) with income below the poverty level
# in Chicago in 2011.
female_2011_query = f"https://api.census.gov/data/2011/acs/acs1/profile?get=DP03_0125PE&for=place:14000&in=state:17&key={census_api}"

female_2011_response = requests.get(female_2011_query).json()

female_poverty_2011 = female_2011_response[1][0]

In [22]:
census_district_data = pd.read_csv("Data/socioeconomic_census.csv")

census_district_data

,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0
...,...,...,...,...,...,...,...,...,...
73,74.0,Mount Greenwood,1.0,3.4,8.7,4.3,36.8,34381,16.0
74,75.0,Morgan Park,0.8,13.2,15.0,10.8,40.3,27149,30.0
75,76.0,O'Hare,3.6,15.4,7.1,10.9,30.3,25828,24.0
76,77.0,Edgewater,4.1,18.2,9.2,9.7,23.8,33385,19.0
77,NaN,CHICAGO,4.7,19.7,12.9,19.5,33.5,28202,NaN